.header{
    display: flex;
    justify-content: space-between;
    margin: 19px  0px ;

}
.headerMenu a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: rgb(98, 96, 96);
    font-size: 20px;
    letter-spacing: 1.2px;
    
}
.headerMenu a:hover{
    color: red;
}
img{
    margin: 0px 8px;
    cursor: pointer;
}
.logo a{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-decoration: none;
    color: #333;
}
.logo{
    text-align: center;
}

